<%= render 'posts/newForm' %>
<h1>All Posts</h1>
<%= @posts.each do |post| %>
    <div class="well">
        <h3> <%= post.title %> </h3>
        <p> <%= post.content %> </p>
        <%= link_to 'READ MORE', post_path(post), :class => "btn btn-primary" %>
        <hr>
    </div>
<% end %>